@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200&family=Nunito:wght@200;300&family=Poppins:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #191919;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.cabecalho-imagem {
    height: 125px;
}

.cabecalho-menu {
  display: flex;
  gap: 30px;
}

.cabecalho-menu-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 45px;
    border-top: 2px solid #ffff;  
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: auto;
    justify-content: space-around;
    gap: 2px;
}

.rodape {
    border-top: 2px solid #ffff;  
    display: flex;
    flex-direction: row;
}

.rodape-img {
    height: 80px;
    display: block;
    margin: 0 auto;
}

 
    